.nav-list{
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.nav-list li{
  margin: 0 20px;
  list-style: none;
}

@media screen and (max-width:700px) {
  .nav-list{
    flex-direction: column;
  }
}